.App {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}
body{
  margin:35px;
  background-color: rgb(5, 5, 5);
}
h2{
  color:rgb(248, 245, 246);
}


.container{
  display: flex;
  flex-direction: row;

}
.li-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;

  color: white;
}
li{
  color: white;
  font-weight: bold;
}
.image {
  height: 350px;
  width: 250px;
  opacity: 13;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.App {
  text-align: center;
}
button{
  height: 20px;
  border: none; 
  color:green;
  font-weight:bold;
  background-color:pink;
}
button {
  visibility: hidden;
}

img:hover + button, button:hover {
  /*display: inline-block; */
  visibility: visible
}
